In [1]:
import pandas as pd

In [2]:
product_data = [
    {
        'product_name': 'Product 1',
        'product_type': 'Electronics',
        'price': 249.99,
        'customer_reviews': 1.5,
        'sold':20
    },
    {
        'product_name': 'Product 2',
        'product_type': 'Home Appliances',
        'price': 99.99,
        'customer_reviews': 2.8,
        'sold':30
    },
    
    {
        'product_name': 'Product 3',
        'product_type': 'Clothing',
        'price': 49.99,
        'customer_reviews': 3.2,
        'sold':40
    },
    {
        'product_name': 'Product 4',
        'product_type': 'Electronics',
        'price': 799.99,
        'customer_reviews': 4.9,
        'sold':50
    },
    {
        'product_name': 'Product 5',
        'product_type': 'Home Appliances',
        'price': 299.99,
        'customer_reviews': 3.8,
        'sold':50
    },
    {
        'product_name': 'Product 6',
        'product_type': 'Clothing',
        'price': 199.99,
        'customer_reviews': 4.2,
        'sold':60
    },
]
df=pd.DataFrame(product_data)
df

  product_name     product_type   price  customer_reviews  sold
0    Product 1      Electronics  249.99               1.5    20
1    Product 2  Home Appliances   99.99               2.8    30
2    Product 3         Clothing   49.99               3.2    40
3    Product 4      Electronics  799.99               4.9    50
4    Product 5  Home Appliances  299.99               3.8    50
5    Product 6         Clothing  199.99               4.2    60

In [3]:
# filter by range of price
def price():
    minprice=float(input('enter min value'))
    maxprice=float(input('enter max value'))
    filtered= df[(df['price'].between(minprice,maxprice))]
    print(filtered)
    print('hot selling products ')
    k=filtered['sold'].max()
    da=filtered[(filtered['sold']==k)]

In [4]:
# filter by rating
def review():
    review=float(input('enter rating value'))
    #maxprice=float(input('enter max value'))
    filtered= df[(df['customer_reviews']>review)]
    print(filtered)
    print('hot selling products ')
    k=filtered['sold'].max()
    da=filtered[(filtered['sold']==k)]
    print(da)

In [5]:

# filter by product_type
def p_type():
    print('Avilable product types:')
    d=df['product_type'].unique()
    for i in d:
        print(i)
    product_type=input('enter product type')

    filtered= df[df['product_type']==product_type]
    print(filtered)
    print('hot selling products ')
    k=filtered['sold'].max()
    
    da=filtered[(filtered['sold']==k)]

In [6]:
def Menu():
    while True:
        print("----------------------------------------------------------")
        print(" Options available for checking:")
        print("1. price")
        print("2. rating")
        print("3. product type")
        print("9. Exit")
        print("----------------------------------------------------------")
        choice = input("Enter your choice: ")
        if choice =='1':
            price()
        elif choice == "2":
            review()
        elif choice == "3":
            p_type()
        elif choice == "9":
            print("Exit")
            break
        else:
            print("Invalid choice. Please try again.")

In [ ]:
Menu()

----------------------------------------------------------
 Options available for checking:
1. price
2. rating
3. product type
9. Exit
----------------------------------------------------------
Enter your choice: 1