In [1]:
#mapper split
q=[]
with open("host.txt",'r') as f:
    for i in f:
        x=i.split()
        q.append([x[1],int(x[3])+int(x[4])+int(x[5])+int(x[6])])

In [2]:
q

[['RangaSwamy', 10500],
 ['lakshmi', 10000],
 ['sailaja', 8500],
 ['chamandi', 17000],
 ['aruna', 9000],
 ['swapna', 10500],
 ['RangaSwamy', 9500],
 ['lakshmi', 9000],
 ['sailaja', 7500],
 ['chamandi', 16000],
 ['aruna', 8000],
 ['swapna', 5550],
 ['RangaSwamy', 10500],
 ['lakshmi', 10000],
 ['sailaja', 8500],
 ['chamandi', 17000],
 ['aruna', 9000],
 ['swapna', 10500],
 ['RangaSwamy', 9500],
 ['lakshmi', 9000],
 ['sailaja', 7500],
 ['chamandi', 16000],
 ['aruna', 8000],
 ['swapna', 5550],
 ['RangaSwamy', 10500],
 ['lakshmi', 10000],
 ['sailaja', 8500],
 ['chamandi', 17000],
 ['aruna', 9000],
 ['swapna', 10500]]

In [3]:
#shuffling
name=[]
for i in q:
  name.append(i[0])

In [4]:
name

['RangaSwamy',
 'lakshmi',
 'sailaja',
 'chamandi',
 'aruna',
 'swapna',
 'RangaSwamy',
 'lakshmi',
 'sailaja',
 'chamandi',
 'aruna',
 'swapna',
 'RangaSwamy',
 'lakshmi',
 'sailaja',
 'chamandi',
 'aruna',
 'swapna',
 'RangaSwamy',
 'lakshmi',
 'sailaja',
 'chamandi',
 'aruna',
 'swapna',
 'RangaSwamy',
 'lakshmi',
 'sailaja',
 'chamandi',
 'aruna',
 'swapna']

In [5]:
name=set(name)

In [6]:
name

{'RangaSwamy', 'aruna', 'chamandi', 'lakshmi', 'sailaja', 'swapna'}

In [7]:
dic={}

In [8]:
for i in name:
    dic[i]=[]

In [9]:
dic

{'sailaja': [],
 'aruna': [],
 'chamandi': [],
 'lakshmi': [],
 'swapna': [],
 'RangaSwamy': []}

In [10]:
for i in dic:
    for j in q:
        if i==j[0]:
            dic[i].append(j[1])

In [11]:
dic

{'sailaja': [8500, 7500, 8500, 7500, 8500],
 'aruna': [9000, 8000, 9000, 8000, 9000],
 'chamandi': [17000, 16000, 17000, 16000, 17000],
 'lakshmi': [10000, 9000, 10000, 9000, 10000],
 'swapna': [10500, 5550, 10500, 5550, 10500],
 'RangaSwamy': [10500, 9500, 10500, 9500, 10500]}

In [12]:
#sorting
dic={key: dic[key] for key in sorted(dic)}

In [13]:
dic

{'RangaSwamy': [10500, 9500, 10500, 9500, 10500],
 'aruna': [9000, 8000, 9000, 8000, 9000],
 'chamandi': [17000, 16000, 17000, 16000, 17000],
 'lakshmi': [10000, 9000, 10000, 9000, 10000],
 'sailaja': [8500, 7500, 8500, 7500, 8500],
 'swapna': [10500, 5550, 10500, 5550, 10500]}

In [14]:
#reducer

In [15]:
res={}
for i in dic:
    sum=0
    for j in dic[i]:
        sum=sum+j
    res[i]=sum

In [16]:
res

{'RangaSwamy': 50500,
 'aruna': 43000,
 'chamandi': 83000,
 'lakshmi': 48000,
 'sailaja': 40500,
 'swapna': 42600}

In [75]:
li = ['abcde', 'abc', 'abcfverth', 'ab']
li.sort(key=lambda x:len(x))
#print(li)
temp=li[0]
for i in li:
    l=''
    for j,k in enumerate(i,start=1):
        if j<=len(temp) and temp[j-1]==k:
            l+=k
        else: 
            break
    temp=l
    
print(temp)

['ab', 'abc', 'abcde', 'abcfverth']
ab

In [1]:
max(res, key=res.get)

NameError: name 'res' is not defined

In [46]:
lli = ['abcde', 'abcd', 'abcverth', 'bc']

In [48]:
lli.sort(key=lambda x: len(x), reverse=False)
temp=lli[0]
t=''
#print(temp)
for i in lli:
    #print(len(i))
    for k,l in enumerate (i,start=1):
        #print(k,l)
        if temp[k]!=l:
            t+=l
        else:
            break
    temp=t
    #print(temp)
            
        
print(temp)

1 b
1 a

IndexError: string index out of range

In [18]:
string1 = "a"
string2 = "b"

string1 += string2
print(string1)

ab

In [67]:
lli = ['abcde', 'abc', 'abcfverth', 'abc']
lli.sort(key=lambda x: len(x))
temp = lli[0]
for i in lli:
    t = ''
    for k, l in enumerate(i, start=1):
        if k <= len(temp) and temp[k - 1] == l:
            t += l
        else:
            break
    temp = t
print(temp)

abc